# Regular Expressions Exercises
### Kwame V. Taylor

1. Write a function named ```is_vowel```. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of ```re.search``` as a boolean value that indicates whether or not the regular expression matches the given string.

In [36]:
import numpy as np
import pandas as pd
import re

In [15]:
def is_vowel(str):
    '''Returns boolean of whether a string is a vowel.'''
    regexp = r'^[aeiouAEIOU]$'
    subject = str
    return bool(re.search(regexp, subject))

In [14]:
is_vowel('o')

True

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.
```
>>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False
>>> is_valid_username('codeup')
True
>>> is_valid_username('Codeup')
False
>>> is_valid_username('codeup123')
True
>>> is_valid_username('1codeup')
False
```

In [17]:
def is_valid_username(str):
    '''Returns boolean of whether a string is a valid username.'''
    regexp = r'^[a-z][a-z0-9_]{,31}$'
    subject = str
    return bool(re.search(regexp, subject))

In [18]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [19]:
is_valid_username('codeup')

True

In [20]:
is_valid_username('Codeup')

False

In [21]:
is_valid_username('codeup123')

True

In [22]:
is_valid_username('1codeup')

False

3. Write a regular expression to capture phone numbers. It should match all of the following:
```
(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
```

In [33]:
def get_phone_nums(str):
    '''Returns a phone number with only digits.'''
    regexp = r'\d+'
    subject = str
    return re.search(regexp, subject)

In [34]:
get_phone_nums('(210) 867 5309')

In [37]:
phone_number_re = re.compile(r'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)

df = pd.DataFrame()
df['number'] = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
    '2108675309',
]
pd.concat([df, df.number.str.extract(phone_number_re)], axis=1)

            number country_code area_code exchange_code line_number
0   (210) 867 5309          NaN       210           867        5309
1  +1 210.867.5309           +1       210           867        5309
2         867-5309          NaN       NaN           867        5309
3     210-867-5309          NaN       210           867        5309
4       2108675309          NaN       210           867        5309

4. Use regular expressions to convert the dates below to the standardized year-month-day format.
```
02/04/19
02/05/19
02/06/19
02/07/19
02/08/19
02/09/19
02/10/19
```

In [43]:
def convert_date(str):
    regexp = r'(\d+)/(\d+)/(\d+)'
    formatre = r'20\3-\1-\2'

    return re.sub(regexp, formatre, str)

In [44]:
convert_date('02/04/19')

'2019-02-04'

In [45]:
convert_date('02/05/19')

'2019-02-05'

In [46]:
convert_date('02/06/19')

'2019-02-06'

In [47]:
convert_date('02/07/19')

'2019-02-07'

In [48]:
convert_date('02/08/19')

'2019-02-08'

In [49]:
convert_date('02/09/19')

'2019-02-09'

In [50]:
convert_date('02/10/19')

'2019-02-10'